{% extends 'base_template.html' %}
{% load static %}

{% block content %}
<style>
    /* title  */


    .container {
        height: 100%;
        width: 100%;
        background-color: whitesmoke;
        padding: 25px 30px;
        margin-bottom: 0px;
    }

    .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

    .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 5px;
        background: linear-gradient(135deg, #f58490, #CE1126);
    }






    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group select,
    input[type="submit"] {
        height: 40px;
        width: 20%;
        border-radius: 10px;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #f58490, #CE1126);
        outline: none;
        display: flex;
        justify-content: center;
        /* Pour centrer horizontalement */
        align-items: center;
        /* Pour centrer verticalement */
        margin: 35px 0;
    }

    input[type="submit"]:hover {
        background-color: linear-gradient(-135deg, #f58490, #CE1126);
    }

    form .button {
        height: 40px;
        margin: 35px 0;
        margin-left: 60px;
    }


    form {
        display: flex;
        flex-direction: column;

    }

    form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="number"],
    form select,
    form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    

</style>
<div class="container">
    <div class="title">Modifier le Mouvement</div> </br></br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enregistrer">
    </form>
</div>
{% endblock %}